@using Microsoft.AspNetCore.Mvc.Rendering
<div id="sidebar" class="navbar-collapse collapse sidebar-collapsed">
    
    <!-- BEGIN Navlist -->
    <ul class="nav nav-list">
        <!-- BEGIN Search Form -->
        @(Html.GenerateMenu())
    </ul>
    <div id="sidebar-collapse" class="visible-lg">
        <i class="fa fa-angle-double-left"></i>
    </div>
</div>
<!-- END Navlist -->
<!-- BEGIN Sidebar Collapse Button -->
<!-- END Sidebar Collapse Button -->
