@using PolyFilms.Data.Models
@using System.Collections
@using PolyFilms.Common

<div class="row">
    <div class="col-md-12">

        @(Html.Kendo().Grid<SlittingModel>()
                    .Name("slittingStockGrid")
                    .Columns(columns =>
                    {

                        columns.Bound(d => d.SlittingDate).Format("{0:" + CommonHelper.DateFormate + "}");
                        columns.Bound(d => d.SlittingRollNo);
                        columns.Bound(d => d.Location);
                        columns.ForeignKey(d => d.ProductId, (IEnumerable)ViewBag.ProductList, "ProductId", "Name");
                        columns.Bound(d => d.Length);
                        columns.Bound(d => d.Width);
                        //columns.Bound(d => d.Od);
                        columns.Bound(d => d.Grossweight);
                        columns.Bound(d => d.Netweight);
                        
                    })
                    .ToolBar(tools => tools.Excel())
                    .Pageable(x =>
                    {
                        x.Refresh(true);
                        x.PageSizes(WebHelper.PageSizes);
                    })
                    .Excel(excel => excel
                        .FileName("Sliting Roll Stock Q1")
                        .Filterable(true)
                        .ProxyURL(Url.Action("Excel_Export_Save", "Home"))
                    )
                    .Sortable(sortable => sortable.AllowUnsort(false))
                    .Filterable(filter => filter.Enabled(false))
                    .NoRecords()
                    
                    
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .ServerOperation(true)
                    .PageSize(WebHelper.PageSize)
                    .Model(model => model.Id(d => d.ProductId))
                    .Events(events => events.Error("onError(\"slittingStockGrid\")"))
                    .Read(read => read.Action("KendoReadSlittingStock", "Home"))
                ))
    </div>
</div>
